<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover' />
<link rel='shortcut icon' href='{{avatar}}' />
<link rel='apple-touch-icon' sizes='192x192' href='{{avatar}}' />
<title>{{{text}}}</title>
<meta property='og:title' content='{{title}}' />
<meta property='og:type' content='article' />
<meta property='og:image' content='{{thumb}}' />
<meta property='og:description' content='{{text}}' />
<meta name='description' content='{{text}}' />
<meta name='robots' content='noindex' />
<meta content='https://twitter.com/x/status/x' property='og:url' />
<link rel='stylesheet' type='text/css' href='/css/skeet.css' />
