<section id='profile'>
  <img src='{{avatar}}' alt="{{handle}}'s profile picture" id='avatar' />
  <div class='display-name'>
    <h1>{{displayName}}<span class='relative-date'> · {{relativeDate}}</span></h1>
    <h2>@{{handle}}</h2>
  </div>
</section>
<section id='body'>
  <p>{{{text}}}</p>
  {{#if images}}
    <section id='images'>
      {{#each images}}
        <img src='{{this.thumb}}' alt='{{this.alt}}' />
      {{/each}}
    </section>
  {{/if}}

  {{#if this.quotedPost}}
    <section class='quoted-post'>
      <div class='user-profile'>
        <img src='{{quotedPost.avatar}}' alt="{{quotedPost.handle}}'s profile picture" class='avatar' />
        <div class='display-name'>
          <h1>{{quotedPost.displayName}}<span class='relative-date'> · {{quotedPost.date}}</span></h1>
          <h2>@{{quotedPost.handle}}</h2>
        </div>
      </div>
      <p class='body-text'>{{quotedPost.text}}</p>
    </section>
  {{/if}}

</section>

<section id='date'>
  <time>{{date}} at {{time}}</time>
</section>
<section id='meta'>
  <span><strong>{{likes}}</strong> Likes</span>
  <span><strong>{{reskeets}}</strong> Reskeets</span>
  <span><a href='{{link}}' title='Permanent URL for skeet'>Permalink</a></span>
</section>