<html dir='ltr' lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover'
    />
    <link rel='shortcut icon' href='{{avatar}}' />
    <link rel='apple-touch-icon' sizes='192x192' href='{{avatar}}' />
    <title>{{displayName}} ({{handle}})</title>
    <meta property='og:title' content='{{displayName}} ({{handle}})' />
    <meta property='og:type' content='profile' />
    <meta property='og:image' content='{{avatar}}' />
    <meta property='og:description' content='{{bio}}' />
    <meta name='description' content='{{bio}}' />
    <meta content='https://twitter.com/x/status/x' property='og:url' />
    <style>
      body { background: $fff; } @media (prefers-color-scheme: dark) { body { background: #000; } }
    </style>
  </head>
  <body>
    <script>window.location.replace("{{link}}");</script>
  </body>
</html>
